<launch>
    <!-- Start tilt joint controller -->
    <rosparam file="$(find jamkit)/config/handmotors.yaml" command="load"/>
    <node name="hand_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port pan_hand_port
                thumb2_controller
                thumb3_controller
                index1_controller
                index2flex_controller
                "
          output="screen"/>
</launch>